<div class="d-flex justify-md-content-center col-sm-12 col-md-1 col-xl-2 home-menu">
	<ul class="nav nav-pills flex-md-column flex-sm-row w-100">

		<li class="nav-item p-md-12 d-xs-inline-flex">
			<a class="nav-link text-xs-left  text-sm-left text-lg-center text-xl-left" [routerLink]="['/home']" [routerLinkActive]="['active']">
				<i class="fa fa-home"></i>
				<span class="d-none d-xl-inline-block">&nbsp;Inicio</span>
			</a>
		</li>
		<li class="nav-item p-md-12 d-xs-inline-flex">
			<a class="nav-link text-xs-left  text-sm-left text-lg-center text-xl-left" [routerLink]="['/server']" [routerLinkActive]="['active']">
				<i class="fa fa-server"></i>
				<span class="d-none d-xl-inline-block">&nbsp;Servidores</span>
			</a>
		</li>

		
		<!--<li class="nav-item p-md-12 d-xs-inline-flex">
			<a class="nav-link text-xs-left  text-sm-left text-lg-center text-xl-left" [routerLink]="['/agregar-servidor']" [routerLinkActive]="['active']">
				<i class="fa fa-plus-square"></i> 
				<span class="d-none d-xl-inline-block">&nbsp;Agregar Servidor</span>
			</a>
		</li>-->
	</ul>
	<div class="nav-item p-md-12 align-self-end" style="position: absolute;">
		<p style="color:white;"><span class="d-none d-xl-inline-block">Branch -> Master</span></p>
	</div>
</div>


		<!-- <li class="nav-item">
			<a class="nav-link" data-toggle="collapse" data-target="#serverCollapse"> 
				<span>Servidores</span>
				<span id="btnAgregarServidor" class="pull-right"><a><i class="fa fa-plus-square"></i></a></span> 
			</a>
			<div id="serverCollapse" class="collapse">
				<ul class="nav flex-column ml-3">

					<li class="nav-item">
						<a><i class="fa fa-server"></i> Gw2 Studio</a>
					</li>

					<li class="nav-item">
						<a><i class="fa fa-server"></i> Gw2 Studio</a>
					</li>

					<li class="nav-item">
						<a><i class="fa fa-server"></i> Gw2 Studio</a>
					</li>

				</ul>
			</div>
		</li>
			-->
