html,body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.app-title{
	width: 100;
	text-align: center;
}

.noAlias{
	color: red;
	background: white;
}

.btn-color-blue{
	background-color: rgb(59,123,176);
}